* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
  width: auto;
  background: linear-gradient(120deg, #0b0f1a, #111d37, #020617);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
#upper-section {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  height: 8vw;
  width: 10vw;
  background-image: url("logo.png");
  background-position: center;
  background-size: 14vw;
  background-repeat: no-repeat;
  margin-left: 2rem;
}
#menu {
  display: flex;

  margin-right: 2rem;
}

.header {
  background: #0f1fd199;
  text-decoration: none;
  color: aliceblue;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1.2rem;
}
.header:hover {
  background-color: aliceblue;
  color: #020617;
}
.first {
  display: flex;
  height: auto;
  width: 100%;
}
.first div:first-child {
  width: 60%;
}
.first div:last-child {
  width: 40%;
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
}
/*sort-intro-name*/

#sort-intro-name {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#sort-intro {
  color: antiquewhite;

  rotate: calc(270deg);
}
#sort-intro span {
  font-size: 4vw;
  vertical-align: middle;
}
/*My name*/
#coder-name {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  white-space: nowrap;
}
#coder {
  rotate: calc(270deg);
  color: antiquewhite;
  font-size: 1.2rem;
  letter-spacing: 0.3vw;
}
#my-Name {
  color: white;
  font-size: 6vw;
  opacity: 90%;
  z-index: 1;
  font-family: "Changa One", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/*intoduction-section*/

#intoduction-section {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#aboutMe {
  color: antiquewhite;
  text-align: center;
  word-spacing: 2px;
  line-height: 23px;
}
#button {
  padding: 17px 40px 17px 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 1.7rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#button:hover {
  background-color: antiquewhite;
  color: #0b0f1a;
}
/*welcome-latter*/

#welcome-div {
  font-size: 5vw;
  height: 10rem;
  width: 100%;
  background: none;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
#welcome {
  color: rgba(250, 235, 215, 0.1);
  position: relative;
  bottom: 1rem;
}

/*photo Section*/

#photo {
  height: 100%;
  width: 40%;
  overflow: hidden;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
#photo img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: 50% 80%;
}
